env:
 - GHCVER=7.4.1
 - GHCVER=7.6.3
 - GHCVER=7.8.3

before_install:
 - sudo add-apt-repository -y ppa:hvr/ghc
 - sudo apt-get update
 - sudo apt-get install cabal-install-1.18 ghc-
 - export PATH=/opt/ghc//bin:/usr/local/bin:/Users/tab/.cabal/bin:/Applications/ghc-7.8.3.app/Contents/bin:/usr/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

install:
 - cabal-1.18 update
 - if [ "" = "6.12.3" ]; then
      cabal-1.18 install --only-dependencies;
      cabal-1.18 install 'QuickCheck==2.6.*';
   else
      cabal-1.18 install --only-dependencies --enable-tests;
   fi

script:
 - cabal-1.18 configure --enable-tests -v2
 - cabal-1.18 build
 - cabal-1.18 test
 - cabal-1.18 check
 - cabal-1.18 sdist
